<div class="topnav">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
       <span><a mat-button  (click)="Link()">Airlines</a></span>
       <span class="spacer"></span>
       <button *ngIf="!isloggedin" mat-raised-button (click)="showLogin()"  color="accent">Login</button>
       <button *ngIf="isloggedin" mat-raised-button (click)="logOut()"  color="warn">LogOut</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<p-dialog header="LogIn" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
        [maximizable]="true" [baseZIndex]="10000">
        <div class="ui-fluid">
          <div class="ui-g">
              <div class="ui-g-12 ui-md-6">
                  <div class="ui-g-6">
                      Username
                  </div>
                  <div class="ui-g-6">
                      <input  pInputText type="text" [formControl]="username" />
                  </div>
              </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
                <div class="ui-g-6">
                    Password
                </div>
                <div class="ui-g-6">
                    <input pInputText  type="password" [formControl]="password" />
                </div>
            </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6">
            <p-button  label="Login" type="submit" (click)="validateUser()"></p-button>
          </div>
        </div>
      </div>
</p-dialog>
<router-outlet></router-outlet>
